$darkgrey: #2A363B;
$red:      #E84A5F;
$pink:     #FF847C;
$orange:   #FECEA8;
$green:    #99B898;
$white:    #FFFFFF;
$black:    #000000;

.red-btn {
  padding: 10px 40px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  color: $red;
  border: 2px solid $red;
  background-color: white;
  transition: .3s all;
  &:hover {
    background-color: $red;
    color: white;
  }
  i {
    margin-right: 7px;
  }
}

.dev-me-map-btn {
  padding: 5px 20px;
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

#find-developers-page,
#find-projects-page {
  .dev-stripe {
    padding: 50px 0;
    font-size: 20px;
    strong {
      font-size: 25px;
    }
    p {
      line-height: 45px;
      margin: 10px 20px;
    }
  }
  .skills {
    background: url("../assets/images/bg_blue_tile.png");
    color: white;
    .select-skills {
      width: 60%;
      margin-top: 15px;
      padding: 10px;
      background: none;
      cursor: pointer;
      font-size: 20px;
      border-color: $red;
      color: white;
    }
  }
  .location {
    border-top: 5px solid $red;
    map {
      margin: 50px 0;
      border: 5px solid $darkgrey;
      height: 400px !important;
    }
    .location-input {
      margin: 20px;
    }
    input {
      padding: 10px;
      width: 500px;
      border: 2px solid $red;
      border-radius: 5px;
    }
    span.or {
      font-size: 25px;
      font-weight: bold;
      margin: 0 20px;
    }
  }
  .ui-select-match-item {
    padding: 5px 10px;
    border: none;
    border-left:   2px solid $red;
    border-bottom: 2px solid $red;
    margin: 5px;
    background-color: $orange;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
  }
  .ui-select-match-close {
    font-size: 23px;
    margin-left: 5px;
  }

  .developers-list,
  .projects-list {
    margin-bottom: 100px;
    padding: 50px 0;
    .song-title {
      padding: 30px 0 40px;
    }
    p.title {
      font-size: 50px;
      line-height: 50px;
      color: $darkgrey;
      font-weight: bold;
      text-align: center;
      padding-bottom: 20px;
      font-style: italic;
      span.red {
        color: $red;
      }
    }
    .developer, .project {
      font-size: 18px;
      float: left;
      padding: 15px 30px;
      height: 100px;
      width: 40%;
      min-width: 500px;
      border-left: 3px solid $red;
      border-bottom: 1px solid $red;
      margin: 20px;
      background-color: white;
      position: relative;
      .dev-name {
        color: $red;
      }
      .dev-skills {
        max-width: 330px;
        font-size: 15px;
      }
      .dev-me-btn {
        position: absolute;
        top: 25px;
        right: 20px;
        padding: 5px 10px;
      }
    }
  }
}
