#main-page {
  .main-choices {
    display: table;
    width: 100%;
  }
  .main-choice {
    display: table-cell;
    width:   50%;
    height:  100vh;
    transition: .5s all;
    .choice-text {
      height:   100vh;
      padding-top: 33vh;
      cursor:   pointer;
      p {
        font-size:   40px;
        text-align:  center;
        line-height: 75px;
      }
      p strong {
        transition: .3s all;
        font-size: 50px;
      }
      &:hover p strong {
        color: $red
      }
    }
  }
  .main-choice-left {
    background-color: $white;
    color: $black;
    border-right: 10px solid $red;
    &:hover {
      width: 55%;
    }
  }
  .main-choice-right {
    background: url("../assets/images/bg_blue_tile.png");
    color: $white;
    &:hover {
      width: 55%;
    }
  }
}
