<div id="find-developers-page">
  <a class="comeback" href="/">
    <i class="fa fa-home"></i>
  </a>
  <div class="dev-stripe skills" ng-hide="FindDevelopersCtrl.showDevelopersList">
    <div class="container">
      <strong>Skills:</strong>
      <ui-select class="select-skills" multiple theme="bootstrap" ng-model="FindDevelopersCtrl.skills" ng-disabled="disabled">
         <ui-select-match placeholder="Select main skills...">{{ $item }}</ui-select-match>
         <ui-select-choices refresh="FindDevelopersCtrl.refreshResults($select)" refresh-delay="250" repeat="skill in FindDevelopersCtrl.availableSkills | filter:$select.search"> {{ skill }}</ui-select-choices>
       </ui-select>
    </div>
  </div>
  <div class="dev-stripe location" ng-hide="FindDevelopersCtrl.showDevelopersList">
    <div class="container">
      <strong>From where?</strong>
      <div class="location-input">
        <input type="text" g-places-autocomplete ng-model="FindDevelopersCtrl.mapLocation" ng-change="FindDevelopersCtrl.updateMap()" placeholder="Choose the location" />
        <span class="or">OR</span>
        <div class="anywhere-btn red-btn" ng-click="FindDevelopersCtrl.listDevelopers()"><i class="fa fa-globe"></i> anywhere</div>
      </div>
      <map center="53.1677170,8.6542650" zoom="12"></map>
    </div>
  </div>

  <div class="developers-list" ng-show="FindDevelopersCtrl.showDevelopersList">
    <a class="back-button" href="#" ng-click="FindDevelopersCtrl.clickBack()">
      <i class="fa fa-undo fa-3"></i>
    </a>
    <div class="song-title">
      <p class="title">Hey, I just met you, and this is crazy,</p>
      <p class="title">But here's my profile, so <span class="red">DevMe</span>, maybe?</p>
    </div>
    <div class="container">
      <div class="developer">
        <p class="dev-name">
          <strong>Sebastian Muszyński</strong>
        </p>
        <p class="dev-skills">Javascript, Java, C++, GIT, AngularJS</p>
        <div class="dev-me-btn red-btn" ng-click="FindDevelopersCtrl.devMe()"><i class="fa fa-paper-plane"></i>DevMe</div>
      </div>
      <div class="developer">
        <p class="dev-name">
          <strong>Sebastian Muszyński</strong>
        </p>
        <p class="dev-skills">Javascript, Java, C++, GIT, AngularJS</p>
        <div class="dev-me-btn red-btn" ng-click="FindDevelopersCtrl.devMe()"><i class="fa fa-paper-plane"></i>DevMe</div>
      </div>
      <div class="developer">
        <p class="dev-name">
          <strong>Sebastian Muszyński</strong>
        </p>
        <p class="dev-skills">Javascript, Java, C++, GIT, AngularJS</p>
        <div class="dev-me-btn red-btn" ng-click="FindDevelopersCtrl.devMe()"><i class="fa fa-paper-plane"></i>DevMe</div>
      </div>
      <div class="developer">
        <p class="dev-name">
          <strong>Sebastian Muszyński</strong>
        </p>
        <p class="dev-skills">Javascript, Java, C++, GIT, AngularJS</p>
        <div class="dev-me-btn red-btn" ng-click="FindDevelopersCtrl.devMe()"><i class="fa fa-paper-plane"></i>DevMe</div>
      </div>
    </div>
  </div>
</div>
