<div id="find-developers-page">
  <div class="skills">
    <ui-select multiple theme="bootstrap" ng-model="FindDevelopersCtrl.skills" ng-disabled="disabled" style="width: 300px;">
       <ui-select-match placeholder="Select skills...">{{$item}}</ui-select-match>
       <ui-select-choices refresh="FindDevelopersCtrl.funcAsync($select.search)" refresh-delay="1000" repeat="skill in FindDevelopersCtrl.availableSkills | filter:$select.search">
         {{skill}}
       </ui-select-choices>
     </ui-select>
  </div>
  <div class="location">
    <p>From where?</p>
    <input type="text" g-places-autocomplete ng-model="FindDevelopersCtrl.mapLocation" ng-change="FindDevelopersCtrl.someStupidFnc()" placeholder="Choose the location" />
    {{FindDevelopersCtrl.mapLocation}}
    <map center="-34.397, 150.644" zoom="8"></map>
    <span>OR</span>
    <label>anywhere</label>
    <input type="checkbox" />
  </div>
</div>
