<div id="main-page">
  <div class="main-choices">
    <div class="main-choice main-choice-left" ng-click="MainCtrl.goToDevelopers()">
      <div class="choice-text">
        <p>I want to</p>
        <p><strong>find developers</strong><p>
        <p>to work with</p>
      </div>
    </div>
    <div class="main-choice main-choice-right" ng-click="MainCtrl.goToProjects()">
      <div class="choice-text">
        <p>I want to</p>
        <p><strong>join a project</strong></p>
        <p>to collaborate</p>
      </div>
    </div>
  </div>
</div>
