<div class="container">

  <div>
    <acme-navbar creation-date="MainCtrl.creationDate"></acme-navbar>
  </div>

  <div class="jumbotron text-center row">
    <div class="col-md-6">
      <h4>I have an idea and want to find developers to work with.</h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Find developers</button>
      </p>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </p>
    </div>
    <div class="col-md-6">
      <h4>I want to join a team to collaborate and build great things. </h1>
      <p class="lead">
        <img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>
        Always a pleasure scaffolding your apps.
      </p>
      <p class="animated infinite" ng-class="main.classAnimation">
        <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Find a project</button>
      </p>
      <p>
        With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
      </p>
    </div>
  </div>
  </div>

</div>
