/**
 *  Variables: bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

$darkgrey: #2A363B;
$red:      #E84A5F;
$pink:     #FF847C;
$orange:   #FECEA8;
$green:    #99B898;
$white:    #FFFFFF;
$black:    #000000;

body {
  font-family: 'Playfair Display', serif;
}

header {
  height: 100px;
  background-color: $darkgrey;
  color: white;
  position: relative;
  border-bottom: 5px solid $green;

  .logo {
    text-align: center;
    padding-top: 14px;
    font-size: 40px;

    a {
      display: inline-block;
      color: $white;
      text-decoration: none;
      padding: 3px 20px;
    }
  }

  .login-btn {
    position: absolute;
    top:      15px;
    right:    15px;
    display:  inline-block;
    cursor:   pointer;
    img {
      width:  40px;
      height: 40px;
    }
  }
}

// Main page
#main-page {
  width: 100%;
  .main-choice {
    width: 50%;
    display: inline-block;
    height: 500px;
    float: left;
  }
}
