/**
 *  Variables: bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector

body {
  font-family: 'Playfair Display', serif;
}

// header {
//   height: 100px;
//   background-color: $white;
//   color: $black;
//   position: relative;
//   border-bottom: 5px solid $black;

//   .logo {
//     text-align: center;
//     padding-top: 14px;
//     font-size: 40px;

//     a {
//       display: inline-block;
//       color: $black;
//       text-decoration: none;
//       padding: 3px 20px;
//     }
//   }

//   .login-btn {
//     position: absolute;
//     top:      15px;
//     right:    15px;
//     display:  inline-block;
//     cursor:   pointer;
//     img {
//       width:  40px;
//       height: 40px;
//     }
//   }
// }
